 .flexigrid div.fbutton .add
{
    background: url(../images/add.png) no-repeat center left;
}	
.flexigrid div.fbutton .delete
{
    background: url(../images/close.png) no-repeat center left;
}	
		
.pngFixSample1{
	background-image: url(../images/demo/img2.png);
	width:256px;
	height:256px;
}
/* add by tang_wenwei start */
a {
    color: blue;
    text-decoration: none;
}
.first{
    background-color: #eee;
}
.second{
    background-color: #ddd;
}
.third{
    background-color: #ccc;
}
.aspan {
    color:blue;
    cursor:pointer;
    margin-left:30px;
}
.treeTable span {
	background-position: center;
	background-repeat: no-repeat;
	padding: .0em;
}
.fullDic{
	color:rgb(226, 126, 47);
}
/* add by tang_wenwei end */