<!DOCTYPE html >
<html lang="zh" th:replace="user/base_user (title='用户中心-修改密码')">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>用户中心-修改密码</title>
    <style type="text/css">
        body{
            background-color: RGB(247,243,231);
        }
    </style>
</head>
<body>
<div class="middle" th:fragment="content">
    <div id="alertMessage"></div>
    <div role="form" style="width: 600px">
        <form>

            <div class="form-group">
                <input id="old_password" name="old_password" type="password" class="form-control"
                       placeholder="旧密码" style="width:290px;display: inline;"/><span style="color:rgb(255,0,0)">*</span>
            </div>
            <div class="form-group">
                <input id="new_password" name="new_password" type="password" class="form-control"
                       placeholder="新密码" style="width:290px;display: inline;"/><span style="color:rgb(255,0,0)">*</span>
            </div>
            <div class="form-group">
                <input id="confirm_password" name="confirm_password"
                       type="password" class="form-control" placeholder="确认密码"
                       style="width:290px;display: inline;"/><span
                    style="color:rgb(255,0,0)">*</span>
            </div>
            <div class="form-group">
                <span style="color: #FF0000;font-size: 14px">注:密码必须是8-16位数字、大、小写字母、特殊符号中的三种及三种以上的组合</span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="button"
                        onclick="resetPassword()" id="submit_button">修改密码
                </button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript">
        function resetPassword() {
            $("#submit_button").attr("disabled", true);
            var oldPwd = $("#old_password").val();
            if ('' == oldPwd) {
                showAlertMsg('请输入旧密码');
                window.setTimeout("clearAlertMsg()", 1000);
                $("#submit_button").attr("disabled", false);
                return;
            }
            var newPwd = $("#new_password").val();
            if ('' == newPwd) {
                showAlertMsg('请输入新密码');
                window.setTimeout("clearAlertMsg()", 1000);
                $("#submit_button").attr("disabled", false);
                return;
            }
            if (!isValidPassword(newPwd)) {
                showAlertMsg('新密码错误【"密码必须是8-16位数字、大、小写字母、特殊符号中的三种及三种以上的组合！"】');
                window.setTimeout("clearAlertMsg()", 1000);
                $("#submit_button").attr("disabled", false);
                return;
            }
            var confirmPwd = $("#confirm_password").val();
            if ('' == confirmPwd) {
                showAlertMsg('请输入确认密码');
                window.setTimeout("clearAlertMsg()", 1000);
                $("#submit_button").attr("disabled", false);
                return;
            }
            if (newPwd != confirmPwd) {
                showAlertMsg('新密码与确认密码不相同');
                window.setTimeout("clearAlertMsg()", 1000);
                $("#submit_button").attr("disabled", false);
                return;
            }
            //修改密码
            $.ajax({
                type: "POST",
                url: "/member/modify_pwd",
                data: {new_pwd: newPwd, old_pwd: oldPwd},
                dataType: "json",
                success: function (jsonData, textStatus) {
                    if (0 != jsonData.status) {
                        showAlertMsg("修改密码失败[" + jsonData.message + "]");
                        window.setTimeout("clearAlertMsg()", 1000);
                        $("#submit_button").attr("disabled", false);
                        return;
                    }
                    var rows = Number(jsonData.data);
                    if (1 == rows) {
                        showAlertMsg("修改密码成功,即将跳转登录页面", Alerts.success);
                        window.setTimeout('window.parent.location.href="/page/login"', 1000);
                    } else {
                        showAlertMsg("修改密码,服务器返回错误状态");
                        window.setTimeout("clearAlertMsg()", 1000);
                        $("#submit_button").attr("disabled", false);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    showAlertMsg("修改密码,客户端异常[" + errorThrown + "]");
                    window.setTimeout("clearAlertMsg()", 1000);
                    $("#submit_button").attr("disabled", false);
                }
            });
        }
    </script>
</div>
</body>
</html>