<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.olande.hiphop.mapper.PlatePerformMapper">

    <!-- 根据演出ID查询演出详细信息-->
    <select id="getPerformMap" parameterType="string" resultType="map">
<![CDATA[
        SELECT perform_id,
               perform_title,
               perform_context,
               perform_poster,
               perform_short,
               start_time,
               end_time,
               tags,
               perform_status,
               p.add_time,
               p.add_sys_user_id,
               p.update_time,
               p.update_sys_user_id,
               p.dict_code,
               d.dict_name,
               cu.username as create_sys_user,
               uu.username as modfiy_sys_user
        FROM plate_perform AS p
                 LEFT JOIN sys_user AS cu ON p.add_sys_user_id = cu.sys_user_id
                 LEFT JOIN sys_user AS uu ON p.add_sys_user_id = uu.sys_user_id
                 LEFT JOIN sys_dict_item AS d ON d.dict_code = p.dict_code
        WHERE p.perform_id = #{perform_id}
        ]]>
    </select>
</mapper>